<%- include("header") -%>

    <h2>This is the about page</h2>

    <p>Hi there! I'm Faizal khan, a web and game developer from India pursuing my bachelor's in BCA from Vivekananda
        Institute of Professional Studies. Catch me on <a
            href="https://www.linkedin.com/in/faizal-khan-1o1/"></a>LinkedIn</p>

    <%- include("footer") -%>